
    <div class="card mb-4 box-shadow h-100">
      <img class="card-img-top h-50"  src="{{prodects.picture}}"  data-holder-rendered="true">
      <div class="card-body">
        <a href="#" class="text-uppercase text-dark" style="text-decoration: none;">
            {{prodects.name}}
        </a>
        <span class="" style="color: #2c9874; font-size: 20px;">&nbsp;&nbsp;&nbsp;&nbsp;{{prodects.price}}$</span>
        <p class="card-text">{{prodects.description}}</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
              <button type="button" class="btn  btn-info "><i style="font-size: 25px;" class="fa fa-shopping-cart"></i></button>
              <button type="button" class="btn   btn-danger"><i class="fa fa-eye"></i></button>
          </div>
        </div>
      </div>
    </div>

